---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About my site">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nulla quos, porro eligendi ut vel blanditiis? Ullam vitae autem quaerat pariatur soluta dolores illo natus asperiores, est, commodi itaque, accusamus aliquam iure recusandae! Dolores officiis exercitationem nulla at minus dolore, sapiente rerum dolorem temporibus expedita praesentium quaerat modi? Ipsam doloremque, impedit porro sed saepe facilis minima, ea corporis perspiciatis aliquam totam atque natus! Quis quia quae amet nesciunt blanditiis nulla distinctio libero excepturi ab quam rem consectetur aspernatur fuga ad impedit fugiat omnis facilis tempore facere beatae inventore sit, repellendus voluptates delectus. Repellat placeat facilis labore debitis a blanditiis vero?</p>
</Layout>